<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Actualizar menú</title>
</head>
<body style="background-color: khaki;">
    <h2>Actualizar menú</h2>
    <br>
    {% for m in menus  %}
        <li>{{m}}</li>
        <a style="color: black; margin: 15px;", href= "{% url 'EditarMenu' m.id %}">Editar</a>    
        <a style="color: black; margin: 15px;", href= "{% url 'EliminarMenu' m.id %}">Eliminar</a>    
        <br>
        <br>
    {% endfor %}
    <br>
    <a style="color: black;", href= "{% url 'AgregarMenu' %}">Agregrar nuevo menú </a> 
    <br>
    <br>
    <a style="color: black;", href= "{% url 'Menu' %}">Volver a la Carta </a>     

</body>
</html>