<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agregar comentario</title>
    <link href="{% static 'css/style.css' %}" rel="stylesheet" />
    <link href="{% static 'css/styles.css' %}" rel="stylesheet" />
</head>
<section class="formulario">
    <h4>Agrega un comentario:</h4>
    <br>
    <p>{{mensaje}}</p>
    <br>
    {% if miFormulario.errors %}
        
        <p style="color: red;">Están mal los datos, revisar</p>
            
    {% endif %}
         
    <form class="formulario" action="" method="POST">{% csrf_token %}
        <div class="mb-3">
            <label  class="form-label" for="{{miFormulario.contenido.id_for_label}}"> {{miFormulario.contenido.label_tag|capfirst}} </label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" type="text" name="{{miFormulario.contenido.html_name}}"></textarea>
        </div>         
        <input style="margin: 0 auto;" type="submit" value="Enviar">
    </form>   
  
    <a href="{% url 'Comunidad' %}">Volver a Comunidad</a> 
</section>
   

</html>