{% extends 'padre.html' %}

{% load static %}

{% block title %}Comunidad{% endblock title %}

{% block header %}<h2>Comunidad Dominicci</h2>{% endblock header %}

{% block contenidoQueCambia %}

<section class="contenido">

    <h4>Compartí tu experiencia en nuestros locales:</h4>
    <br>
    {% if miFormulario.errors %}
        
        <p style="color: red;">Están mal los datos, revisar</p>
             
    {% endif %}
            
    <form class ="form" method="POST" enctype="multipart/form-data"> {% csrf_token %}
            
        <div class="mb-3">
            <label style="font-family: Verdana, Geneva, Tahoma, sans-serif; font-weight: bold;" class="form-label" for="{{miFormulario.contenido.id_for_label}}"> {{miFormulario.contenido.label_tag|capfirst}} </label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" type="text" name="{{miFormulario.contenido.html_name}}"></textarea>
        </div>
        <div class="mb-3">
            <label style="font-family: Verdana, Geneva, Tahoma, sans-serif; font-weight: bold;" class="form-label" for="{{miFormulario.imagen.id_for_label}}"> {{miFormulario.imagen.label_tag}} </label>
            <input class="form-control form-control-sm" id="formFileSm" type="file" name="{{miFormulario.imagen.html_name}}">
        </div>                  
        <input style="margin: 0 auto;" type="submit" value="Enviar">
    </form><br>
  
    <h5>Los que nos visitaron...</h5>
    {% for post in posts  %}
        <br>
        -----------------------------------------------------------------------------------
        <br>
        <a style="color: black;"href="{% url 'Perfil' post.user.id %}">
            <div class="avatar" style="background-image: url('{{post.user.imagen.url}}');"></div>
            <strong>    
               {{post.user}} - 
               {{post.fecha}} <br>         
           </strong>     
        </a>
        <p style="margin-left: 5px;">{{post.contenido}}</p>
        
        {% if post.imagen %}
            <img src="{{post.imagen.url}}", width="550px"> 
        {% endif %}
       
        {% if request.user == post.user or request.user.is_superuser %}
            <a style="color: darkblue; font-size: small; margin-left: 5px;" href="{% url 'EliminarPost' post.id %}">Eliminar</a>
            <a style="color: darkblue; font-size: small; margin-left: 5px;" href="{% url 'EditarPost' post.id %}">Editar</a>
         {% endif %}
        <br><br>
        <h6>Comentarios...</h6>
        {% if not post.comentarios.all %}
            <p>Todavía no hay comentarios...<a class="link"; href="{% url 'Comentario' post.id %}">Agrega uno</a></p> 
        {% else %}   
        <a class="link" href="{% url 'Comentario' post.id %}">Agrega un comentario..</a> 
        <br>
            {% for comentario in post.comentarios.all %}
                 <br>
                <a style="color: black; display: block;"href="{% url 'Perfil' comentario.user.id %}">
                    <div class="avatar" style="background-image: url('{{comentario.user.imagen.url}}');"></div>
                    <strong style="font-size: 14px;">    
                        {{comentario.user}} - 
                        {{comentario.fecha}}
                    </strong>
                 </a>    
                <p style="font-size: 15px; margin-bottom: 0px;">{{comentario.contenido}}</p>
                {% if request.user == comentario.user or request.user.is_superuser %}
                    <a style="color: darkblue; font-size: small; margin-left: 5px;" href="{% url 'EliminarComentario' comentario.id %}">Eliminar</a>
                    <a style="color: darkblue; font-size: small; margin-left: 5px;" href="{% url 'EditarComentario' comentario.id %}">Editar</a>
                {% endif %}
                
            {% endfor %}     
        {% endif %}
    {% endfor %}
</section>

{% endblock contenidoQueCambia %}
