{% extends 'padre.html' %}

{% load static %}

{% block title %}Contacto{% endblock title %}

{% block header %}<h2>Contacto</h2>{% endblock header %}

    
{% block contenidoQueCambia %}

{% if miFormulario.errors %}
    <p style="color: red;">Están mal los datos, revisar</p>    
{% endif %}
<p style="text-align:center">{{mensaje}} </p>
<section style="margin-bottom: 30px;" class="contenido">
    <h4>Ante cualquier consulta, sugerencia o reclamo; contáctanos aquí:</h4><br> 
    <form class="formulario" action="" method="POST">{% csrf_token %}
        <table>
            {{miFormulario.as_table}}
            {{miFormulario.media}}  
        </table><br>
        <input type="submit" value="Enviar">
    </form>
</section>    
{% endblock contenidoQueCambia %}
