<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar menú</title>
</head>
<body style="background-color: khaki;">
    <h2>Editar menú:</h2>
    <form action="" method="POST">{% csrf_token %}
        <table style="text-align: left;">
            {{miFormulario.as_table}}
        </table>
        <input style="margin: 10px 110px 0px;" type="submit" value="Enviar">
    </form>
    <p>{{mensaje}}</p>
    <a href="{% url 'Menu' %}">Volver a la Carta</a>
</body>
</html>