{% extends 'padre.html' %}

{% load static %}

{% block title %}Buzón{% endblock title %}

{% block header %}<h2>Buzón</h2>{% endblock header %}

    
{% block contenidoQueCambia %}

<section style="margin-bottom: 30px;" class="contenido">
    <p style="margin-left: 5px;">{{mensaje.contenido}}</p>
    <br>
    
    {% if mensaje.user != request.user %}
        <a class="link" href="{% url 'Mensaje' mensaje.user.id %}">Responder</a> 
    {% endif %}
    <a class="link" href="{% url 'Buzon' user.id %}">Volver al Buzón</a>   
</section>    


{% endblock contenidoQueCambia %}
