{% extends 'padre.html' %}

{% load static %}

{% block title %}Enviar mensaje{% endblock title %}

{% block contenidoQueCambia %}

<section class="contenido">

    <h5>Enviar mensaje privado: 
        <div class="avatar" style="background-image: url('{{destinatario.imagen.url}}');"></div>             
    </h5>
    {% for msg in messages  %}
       {{msg}}
    {% endfor %}
    {% if miFormulario.errors %}
        <p style="color: red;">Están mal los datos, revisar</p>            
    {% endif %}
            
    <form class ="form" method="POST" enctype="multipart/form-data"> {% csrf_token %}
            
        <div class="mb-3">
            <label for="{{miFormulario.asunto.id_for_label}}" class="form-label">{{miFormulario.asunto.label_tag|capfirst}}</label>
            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="{{miFormulario.asunto.html_name}}">   
        </div>
        <div class="mb-3">
            <label style="font-family: Verdana, Geneva, Tahoma, sans-serif; font-weight: bold;" class="form-label" for="{{miFormulario.contenido.id_for_label}}"> {{miFormulario.contenido.label_tag|capfirst}} </label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="5" type="text" name="{{miFormulario.contenido.html_name}}"></textarea>
        </div>                 
        <input style="margin: 0 auto;" type="submit" value="Enviar">
    </form>
</section>  
{% endblock contenidoQueCambia %}