{% extends 'padre.html' %}

{% load static %}

{% block title %}Mi cuenta{% endblock title %}

{% block header %}<h2>Mi Cuenta</h2>{% endblock header %}

{% block contenidoQueCambia %}

<section style="margin-bottom: 30px;" class="contenido">
    <h2>{{user.username}}</h2>
    <div class="perfil" style="background-image: url('{{user.imagen.url}}');"></div>
    <p><b>Nombre: </b>{{user.first_name}}</p>
    <p><b>Apellido: </b>{{user.last_name}}</p>
    <p><b>E-mail: </b>{{user.email}}</p>
    <a class="link" href="{% url 'EditarPerfil' %}">Editar perfil</a>
    <br><br>
    
    <h5>Mensajes:</h5>
    {% if mensajes %}
        <p>
            Tienes <b>{{mensajes}}</b> mensaje/s no leído/s.
            <a class="link" href="{% url 'Buzon' %}">Ir al Buzón</a>
        </p>
    {% else %}
        <p>
            No tienes mensajes nuevos.
            <a class="link" href="{% url 'Buzon' %}">Ir al Buzón</a>
        </p>
      
    {% endif %}
    <br>
        
    {% if user.reservas.all %}
        <h5>Reservas:</h5>
        <ul style="list-style-position: outside;">
            {% for reserva in  user.reservas.all%}
            <li><b>Local:</b> {{reserva.local.direccion}} <br>
                <b>Fecha:</b> {{reserva.dia}} <br>
                <b>Hora:</b> {{reserva.horario}} hs <br>
                <b>N° de personas:</b> {{reserva.cantidad_personas}}<br>        
            </li>
            <a style="color: darkblue; font-size: small;" href="{% url 'EliminarReserva' reserva.id %}">Eliminar</a>
            <a style="color: darkblue; font-size: small;" href="{% url 'Reserva' %}">Hacer nueva reserva</a>
            {% endfor %}
        </ul>
    {% endif %}

    {% if user.posts.all %}
        <h5>Posts:</h5>
        <ul style="list-style-position: outside;">
            {% for post in user.posts.all%}
            <li><b>Post</b> creado el día {{post.fecha}}
                <a style="color: darkblue; font-size: small;" href="{% url 'DetallePost' post.id %}">Ver</a>
            </li>
            {% endfor %}
        </ul>
    {% endif %}   

    {% if user.comentarios.all %}
    <h5>Posts que comentaste:</h5>
    <ul style="list-style-position: outside;">
        {% for comentario in user.comentarios.all %}
        <li><b>Post</b> comentado el día {{comentario.fecha}}
            <a style="color: darkblue; font-size: small;" href="{% url 'DetallePost' comentario.post.id %}">Ver</a>
        </li>
        {% endfor %}
    </ul>
{% endif %}      
</section>    

{% endblock contenidoQueCambia %}