{% extends 'padre.html' %}

{% load static %}

{% block title %}Reservas{% endblock title %}

{% block contenidoQueCambia %}

<h2>Reservas</h2>
<br>
<h6>Cargar nueva reserva:</h6>

{% if miFormulario.errors %}
    
    <p style="color: red;">Están mal los datos, revisar</p>
        
{% endif %}
        
    <form action="" method="POST">{% csrf_token %}
        <table>
            {{miFormulario.as_table}}
        </table>
        <br>
        <input type="submit" value="Enviar"> 
        <br>
        <p>{{mensaje}}</p>
    </form>


{% endblock contenidoQueCambia %}