body {
    margin: 0;
}


header {
    padding-top:5rem;
    padding-bottom: 2rem;
    text-align: center;
    color: #fff;
    background-image: url("../assets/img/header-bg.jpg");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;
}

div.avatar {
    height: 25px;
    width: 25px;
    background-repeat: no-repeat;
    background-position: 50%;
    border-radius: 50%;
    background-size: 120% auto;
    display: inline-block;
    vertical-align: middle;
    margin-left: 5px !important;
  }

  div.perfil {
    height: 100px;
    width: 100px;
    background-repeat: no-repeat;
    background-position: 50%;
    border-radius: 50%;
    background-size: 120% auto;
    margin: 0 auto;
  }
h2 {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 10px;
}
section.contenido {
    background-color: rgb(240, 205, 142) !important;
    width: 550px;
    margin: 0 auto;
    padding-top: 10px !important;
    padding-bottom: 20px !important;
    margin-top: 20px;
}
section.formulario {
    width: 400px;
    padding-top: 10px;
    display: block;
    margin-left: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
p, h3, h4, h5, h6 {
    margin-left: 5px !important;
    margin-bottom: 2px !important;
}
.form {
    margin:5px !important;
}
.link{
    margin-left: 5px !important;
    color: darkblue !important;  
    font-size: 16px;
}
p.fecha {
    margin-left: 5px !important;
    font-size: 15px !important;
    margin-bottom: 0px !important;
}
table.buzon {
    background-color: white;
    width: 100%;
    
  
}

th.buzon, td.buzon {
    border:solid 1px rgb(59, 57, 57) !important;


}